<html>
  <head>
   <h2>財務諸表ダウンロードアプリ</h2>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <title>{{ title }}</title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='cs/style.css') }}">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
   <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>

<body>
<script src="https://ssl24.net/js/formCheck.js" type="text/javascript"></script>
<script language="javascript">
 <!--
  fld = new Array();
  fld['year'] = "select";
  fld['month'] = "select";
  fld['pref[]'] = "check_many";
   
  reqcolor = "#ffe5f2";
  encolor  = "#ffffff";
 -->
</script>
 その会社のデータは選択した月には存在しませんでした。
 </body>
</html>

